Host github.com
  IdentityFile ~/.ssh/id_rsa_github
  IdentitiesOnly yes

Host *
 IgnoreUnknown AddKeysToAgent,UseKeychain
 AddKeysToAgent yes
 UseKeychain yes
 IdentityFile ~/.ssh/id_rsa
 ControlMaster auto
 ControlPath ~/.ssh/controlmasters/%r@%h:%p
 ControlPersist 6h
