[submodule "dotbot"]
	path = dotbot
	url = git+ssh://git@github.com:anishathalye/dotbot.git
	ignore = dirty
[submodule "tridactyl"]
	path = tridactyl
	url = git+ssh://git@github.com/tridactyl/tridactyl.git
